

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.bordered {
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 94px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-weight: $bold-font-weight;
    font-size: 36px;
    line-height: 1.7;
    
    text-align: center;
    color: $title-text-color;
 }

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
}

img {
    display: block;
}