$main-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$white-color: #ffffff;
$footer-background-color: #2F303A;
$button-background-color: #F5F4FA;

$transition-delay: 250ms;
$transition-time-func: cubic-bezier(0.4, 0, 0.2, 1);

$normal-font-weight: 500;
$bold-font-weight: 700;
$bolder-font-weight: 900;

$nav-font-size: 14px;
$nav-line-height: 1.14;
$nav-letter-spacing: 0.02em;

$logo-font-family: 'Raleway', sans-serif;
$logo-font-size: 26px;
$logo-line-height: 1.2;
$logo-letter-spacing: 0.03em;

$hero-font-size: 44px;
$hero-line-height: 1.4;
$hero-letter-spacing: 0.06em;

